.conteiner{
    // border: 1px solid red;

    position: relative;
    width: 1219px;
    height: 100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 22px;
    width: 525px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}